@import '../Colors/styles';
@import '../Sizes/styles';
@import '../Fonts/styles';

/**
 * The standard spacing of the nav item element
 *
 * @var
 */
$nav-item--spacing: 10px;

/**
 * @atom nav-item
 * @modifiers
 *   .nav-item--selected
 *   .nav-item--$size
 * @description
 *   An item mean to be contained in the navigation bar, when selected it contains a lower
 *   border, that extends beyond it's expeceted confines.
 */
.nav-item {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-family: $font--nav;

  /* The border of at the bottom, shown only when selected. */
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transform: translateX(50%);
    transition: 0.6s ease;
    background-color: $color--nav-selected;
  }

  /* Adjust padding and margin according to size. */
  @each $size, $multiplier in $sizes--all { 
    &--#{$size} {
      margin-left: $nav-item--spacing * $multiplier;
      margin-right: $nav-item--spacing * $multiplier;
      padding-top: $nav-item--spacing * $multiplier;
      padding-bottom: $nav-item--spacing * $multiplier;
    }
  }

  /* When selected or hovered, change the bottom border width. */
  &:hover::after,
  &--selected::after {
    transform: translateX(0);
    width: 100%;
  }

  /* Slightly diminsihed colors. */
  &:hover {
    color: rgba($color--nav-selected, 0.4);
    &::after { background-color: rgba($color--nav-selected, 0.4); } 
  }

  /* By default the color ::after is the selected color */
  &--selected {
    color: $color--nav-selected; 
  }
}
