@import 'Atoms/Colors/styles';
/**
 * @atom Alert
 * @description
 *  The Alert is centered with a high z index.
 */
.alert {
  overflow: hidden;
  border-radius: 7px; 
  background-color: color(planet, lightest);
  min-width: 200px;
                         }

.alert__content {
  padding: 15px;
}

.alert__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid color(planet, light);

  > span {
    padding: 10px;
    color: color(planet);
    cursor: pointer;
    border-left: 1px solid color(planet, light);
    transition: all 0.5s ease;
    background-color: color(planet, lightest);
    flex: 1;
    text-align: center;

    &:hover {
      color: color(planet, lightest);
      background-color: color(planet);
    }
  }
  
  > span:nth-child(1) { 
    border-left: none;
  }
}


