@import '../variables';

.page {
  background-color: rgb(247, 248, 249);

  &.is-expanded {
    overflow: hidden;
  }
}

/* Overlay's the exanse most of the time. */
.wrapper {
  min-height: 100vh;
  transition: transform 1s ease;
  transform: translateY(0);
  position: relative;
  background-color: white;
  padding-bottom: 30px;
  
  .is-expanded & {
    transform: translateY(100vh);
    transform: translateY(calc(100vh - #{$navigation-size *  3 / 8})); 
  }
}


/*  Overlay's below the expance */
.background {
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  transition: background-color 1s ease;

  svg {
    height: auto;
    width: 100px; 
    opacity: 0.1;

    polygon {
      transition: fill 1s ease;
    }
  }

  .bgElement {
    position: absolute;
  }
  
  .bgElement svg {
    width: 100%;
    height: auto; 
  }
}

.header {
  width: 100vw;
  height: $navigation-size * 3 / 8;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.header svg {
  width: $navigation-size;
  height: $navigation-size * 3 / 8;
  margin: 0;
  overflow: visible;

  @media (max-width: $navigation-size) {
    // We're going to make only the middle 500px visible.
    width: $navigation-size;
    height: $navigation-size * 3 / 8; 
    margin-left: calc(50vw - #{$navigation-size / 2});
    margin-right: calc(50vw - #{$navigation-size / 2});
  }
}

.header svg .about-bg,
.header svg .home-bg {
  cursor: pointer;
}

svg .pyramid-container {
  cursor: pointer; 
  
  .triangle {
    transition: transform 1s ease;

    &-1 { transform: translate(200px, 0px); }
    &-2 { transform: translate(150px, 0px); }
    &-3 { transform: translate(100px, 0px); }
    &-4 { transform: translate(50px, 0px); }
    &-5 { transform: translate(0px, 0px); }
  }

  &:hover .triangle {
    &-1 { transform: translate(200px, 0); }
    &-2 { transform: translate(150px, 10px); }
    &-3 { transform: translate(100px, 20px); }
    &-4 { transform: translate(50px, 30px); }
    &-5 { transform: translate(0px, 40px); }
  }
}

.page svg {
  cursor: pointer;
}


@media (max-width: $breakpoint-medium) {
  .background svg {
    display: none;
  }
}
