@import '../variables';


$navigation-size: 900px;

.page {
  background-color: rgb(247, 248, 249);

  &.is-expanded {
    overflow: hidden;
  }
}

/* Overlay's the exanse most of the time. */
.wrapper {
  min-height: 100vh;
  transition: transform 1s ease;
  transform: translateY(0);
  position: relative;
  background-color: white;
  
  .is-expanded & {
    transform: translateY(100vh);
    transform: translateY(calc(100vh - #{$navigation-size *  3 / 8})); 
  }
}


/*  Overlay's below the expance */
.background {
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  transition: background-color 1s ease;

  svg {
    height: auto;
    width: 100px; 
    opacity: 0.1;

    polygon {
      transition: fill 1s ease;
    }
  }
  
  svg:nth-child(1) {
    width: 200px; 
    opacity: 0.1;
    transform: translate(-3vw, 250px) rotate(45deg);
  }
  svg:nth-child(2) {
    width: 400px; 
    opacity: 0.1;
    transform: translate(70vw, 500px) rotate(-27deg);
  }
  svg:nth-child(3) {
    width: 100px; 
    opacity: 0.2;
    transform: translate(30vw, 600px) rotate(170deg);
  }
  svg:nth-child(4) {
    width: 80px; 
    opacity: 0.4;
    transform: translate(60vw, 750px) rotate(-67deg);
  }
  svg:nth-child(5) {
    width: 250px; 
    opacity: 0.3;
    transform: translate(95vw, 853px) rotate(10deg);
  }
  svg:nth-child(6) {
    width: 130px; 
    opacity: 0.25;
    transform: translate(30px, 900px) rotate(20deg);
  }
  svg:nth-child(7) {
    width: 70px; 
    opacity: 0.3;
    transform: translate(5vw, 1110px) rotate(-5deg);
  }
  svg:nth-child(8) {
    width: 500px; 
    opacity: 0.1;
    transform: translate(40vw, 1250px) rotate(-87deg);
  }
  svg:nth-child(9) {
    width: 60px; 
    opacity: 0.3;
    transform: translate(80vw, 1450px) rotate(7deg);
  }
  svg:nth-child(10) {
    width: 300px; 
    opacity: 0.1;
    transform: translate(-4vw, 1650px) rotate(-2deg);
  }
  svg:nth-child(11) {
    width: 200px; 
    opacity: 0.2;
    transform: translate(20vw, 1750px) rotate(-130deg);
  } 
}

.expance {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  /* The svg viewbox is 800x300 */
  height: calc(100vh - #{3 / 8 * $navigation-size});
  background-color: rgb(34, 49, 63); 

  .svgContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  svg {
    /* The svg viewbox is now 500x300 instead of 800x300 */
    width: $navigation-size * 5 / 8;
    height: auto;
  }
}

.header {
  width: 100vw;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.header svg {
  width: $navigation-size;
  height: auto;
  overflow: visible;
}

.header svg .about-bg,
.header svg .home-bg {
  cursor: pointer;
}

svg .pyramidContainer {
  cursor: pointer; 
  
  .triangle {
    transition: transform 1s ease;

    &-1 { transform: translate(200px, 0px); }
    &-2 { transform: translate(150px, 0px); }
    &-3 { transform: translate(100px, 0px); }
    &-4 { transform: translate(50px, 0px); }
    &-5 { transform: translate(0px, 0px); }
  }

  &:hover .triangle {
    &-1 { transform: translate(200px, 0); }
    &-2 { transform: translate(150px, 10px); }
    &-3 { transform: translate(100px, 20px); }
    &-4 { transform: translate(50px, 30px); }
    &-5 { transform: translate(0px, 40px); }
  }
}

svg .about,
svg .home {
  cursor: pointer;
}
