@import 'Atoms/Colors/styles';
@import 'Atoms/Fonts/styles';

/**
 * The height of a tag, this variable is used by the tag container
 *
 * @var
 */
$tag--height: 30px;

/**
 * @atom Tag
 * @description
 *   A simple hashtag proceeding a highlighted tag.
 * @modifers
 *   $tag--$category
 */
.hashtag {
  font-family: $font--code;
  font-size: 0.8em;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 4px; 
  padding: 5px;
  transition: all 0.3s ease;
  border: 1px solid rgba(color(), 0);
  border-radius: 15px 0px;

  @each $name, $cat in map-get($colors, category) {
    &--#{$name} {
      color: map-get($cat, 'default');
      border-color: map-get($cat, 'default'); 

      &:hover,
      &.hashtag--selected {
        background-color: map-get($cat, 'default');
        color: map-get($cat, 'lightest');
        border-radius: 25px; 
      }
    }
  }
  &::before {
    content: '#';
    padding-right: 2px;
  }

  &--simple {
    border: none;
    font-size: 0.7em;
    margin-right: 2px;
  }
}

