@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400|Source+Code+Pro|Roboto:300,300i,400,700');

/**
 * The heading font for all titles and section headers.
 *
 * @font
 */
$font--heading: ('Source Code Pro', 'Roboto', 'monospace');

/**
 * The standard font used for general text.
 *
 * @font
 */
$font--regular: ('Roboto', 'sans-serif');

body { font-family: $font--regular }

/**
 * The font used for source code previews.
 *
 * @font
 */
$font--code: ('Roboto Mono', 'monospace');

/** 
 * The font used for data, such as in a table or spreadsheet.
 *
 * @font
 */
$font--data: $font--code;

/**
 * The specific font for navigation items.
 *
 * @font
 */
$font--nav: $font--heading;
