:global .syntax-highlight {
  background-color: #212026;
  padding: 10px;
  line-height: 1.5;
}

:global .syntax-highlight .token {
  &.hvariable {
    color: #c5c8c6;
  }

  &.operator,
  &.punctuation {
    color: #8abeb7;
  }

  &.builtin {
    color: #eeeeec;
  }

  &.string {
    color: #b5bd68;
  }
}
