.syntax-highlight {
  background-color: #212026;
  padding: 10px;
  line-height: 1.5;
  width: 100%;
  overflow-y: scroll;
}

.syntax-highlight :global .token {
  color: white;
  
  &.hvariable {
    color: #c5c8c6;
  }

  &.operator,
  &.punctuation {
    color: #8abeb7;
  }

  &.builtin {
    color: #eeeeec;
  }

  &.property {
    color: #efc57a;
  }

  &.string {
    color: #b5bd68;
  }
}
