@import '../../Atoms/Colors/styles';

/**
 * Override some body defaults for this page.
 */
body {
  padding: 0;
  margin: 0;
  background-color: color(theme, bg);
} 

.style-page__content {
  margin: 20px auto;
  max-width: 1000px; 
} 
