@import '../../Atoms/Colors/styles';
@import '../../Atoms/Fonts/styles';

/**
 * @molecule Table
 * @description
 *  A simple wrapper for the table element, the styling helps make
 *  the tables more readable. Usually they are also full width after
 *  this effect.
 * @modifiers
 *  .table--font-regular   Table with non-data font.
 */
table {
  width: 100%;
  font-family: $font--data;
  font-size: 0.9em;
  margin: 10px auto;
  border-collapse: collapse;
}

td, th {
  padding: 8px 10px;
  border: 1px solid #dfe2e5;
}

tr {
  border-top: 1px solid #dfe2e5;
}

tr:nth-child(2n+1) {
  background-color: white;
}

tr:nth-child(2n) {
  background-color: #f6f8fa;
}

th {
  background-color: white; 
  font-weight: bold;
  text-align: center;
}
