@import '../Sizes/styles';
@import '../Colors/styles';

/**
 * Changes the color of a buton on hover.
 *
 * @param $color the color to change to.
 */
@mixin btn-change-bg($color) {
  background-color: $color;

  // Adjust text to most readable form.
  @if (lightness($color) < 80) {
    color: $color--white;
  } @else {
    color: $color--blackish;
  }
}

/**
 * @atom Button
 * @description
 *   The button component is a pressable component with
 *   three states: pressed, hovered, normal.
 * @modifiers
 *   .btn--color
 *   .btn--size
 *   .btn--inactive
 * @markup
 *   <Button label="Submit" />
 */ 
.btn {
  text-align: center;
  padding: 10px;
  border: 1px solid $color--default;
  color: $color--default;
  transition: all 0.6s ease;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 1.2em;

  // Default Hover
  &:hover {
    border-radius: 30px;
    @include btn-change-bg($color--default);
  }
  
  // Sizes
  &--large  { padding: 20px; }
  &--medium { padding: 10px; }
  &--small  { padding: 5px;  }

  // Colors.
  @each $name, $color in $colors--all {
    &--#{$name} {
      border-color: $color;
      color: $color;
      
      &:hover {
        @include btn-change-bg($color);
      } 
    }
  }

  // Inavalid
  &--inactive {
    border-color: $color--gray;
    color: $color--gray;

    &:hover {
      color: $color--gray;
      background-color: rgba(0,0,0,0);
    }
  }
}
