@import '../Sizes/styles';
@import '../Colors/styles';

/** @var The size of a standard colorwheel */
$color-wheel--size: 30px;

/**
 * @atom ColorWel
 * @description
 *   The color well component simply show's off a color, and is clickable.
 * @modifiers
 *   .color-well--color
 *   .color-well--size
 *   .color-well--selected
 * @markup
 *   <ColorWell color="red" />
 */
.color-well {
  color: rgba(0,0,0,0);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.6s ease;
  transform: scale(1);
  border: 1px solid darken($color--content, 30);
  margin: 4px;

  /* Perform size modifiers */
  @each $size, $multiplier in $sizes--all {
    &--#{$size} {
      width: $multiplier * $color-wheel--size;
      height: $multiplier * $color-wheel--size;
    }
  } 

  /* Perform the color modifier */
  @each $name, $color in $colors--all {
    &--#{$name} {
      background-color: $color;
    }
  }

  /* Perform color wheel selected */
  &--selected,
  &:hover {
    transform: scale(1.2);
  }
}
