@import '../variables';

.header {
  width: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  /* Align the navigation svg to the top left. */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
};

$navigation-size: 700px;

.header svg {
  width: $navigation-size;
  height: auto;
  overflow: visible;
}

/* Animation which slides in the rectangles known as nav-stripe. */
@keyframes nav-stripe-reveal {
  from {
    transform: translateX(-$navigation-size) translateY($navigation-size)  ;
  }  
  to {
    transfo: translateX(0) translateY(0);
  }
}

/* Reveals the elements of the home button. */
@for $i from 0 through 2 {
  @keyframes home-element-reveal-#{$i} {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: translate(300px, 0);
    }
    80% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: translate(300px, 0);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: translate(61px * $i, 0);
    }
  }
}

/* Implement the nav-stripe reveal on load. */
.header svg {
  $stripe-reveal-duration: 5s;
  @for $i from 1 through 4 {
    :global(#nav-stripe-#{$i}) {
      animation: nav-stripe-reveal ($i / 4 * $stripe-reveal-duration) ease forwards;
    }
  }

  /* Create the fade in effect for the elements */
  $elements: ('#nav-me', '#nav-oxygen', '#nav-hydrogen');
  $i: 0;
  $home-el-reveal-duration: $stripe-reveal-duration * 1.1;
  @each $el in $elements {
    :global(#{$el}) {
      animation: home-element-reveal-#{$i} $home-el-reveal-duration ease forwards; 
    }
    $i: $i + 1;
  }
}
