@import "../variables";
.haiku-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4em;
  line-height: 1.5;
  width: 100%;
  font-family: $font-heading;

  @media(max-width: $breakpoint-medium) {
    font-size: 2em;
  }
}

