@import '../Colors/styles';

/**
 * The padding given to a card.
 * 
 * @var
 */
$card--padding: 20px;

/**
 * @mixin
 * @description
 *  A simple wrapper for content to give a background, and maybe some
 *  minor shadow effects.
 */
@mixin card() {
  background-color: $color--content;
  padding: $card--padding;
}

/**
 * @mixin
 * @description
 *  A dark version of the card mixin.
 */
@mixin card-dark() {
  background-color: $color--blackish;
  padding: $card--padding;
  color: $color--white;
}

/**
 * The padding of the card, used for tweeks by markdown. 
 *
 * @var
 */
$card--margin: 10px;

/**
 * @atom
 * @modifiers
 *  .card--dark
 */
.card {
  padding: #{$card--margin / 2} 0;

  .card__container { @include card; }
  &--dark .card__container { @include card-dark; }
}
