@import '../Colors/styles';

/**
 * The padding given to a card.
 * 
 * @var
 */
$card--padding: 20px;

/**
 * @mixin
 * @description
 *  A simple wrapper for content to give a background, and maybe some
 *  minor shadow effects.
 */
@mixin card() {
  background-color: color('theme', 'content-bg');
  padding: $card--padding;
}

/**
 * @mixin
 * @description
 *  A dark version of the card mixin.
 */
@mixin card-dark() {
  background-color: color('planet', 'blackest');
  padding: $card--padding;
  color: color('planet', 'lightest');
}

/**
 * The padding of the card, used for tweeks by markdown. 
 *
 * @var
 */
$card--margin: 10px;

/**
 * @atom
 * @modifiers
 *  .card--dark
 */
.card {
  padding: #{$card--margin / 2} 0;
  background-color: rgba(0, 0, 0, 0);

  .card__container { @include card; }
  &--dark .card__container { @include card-dark; }
}
