@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand|Eagle+Lake');

body, html {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Nunito;
}

/* Eliminate all confusion over box sizing */
* {
  box-sizing: border-box;
}
