$nav-background: tomato;
$nav-text: purple;
$nav-text-alt: white;

$color-primary: #f7391b;
$font-heading: 'Eagle Lake', cursive;

/// Breakpoints
$breakpoint-small: 700px;
$breakpoint-medium: 950px;
$breakpoint-large: 1100px;

/// Size of the navigation full pyramid and sides.
$navigation-size: 900px;
