{
  "presets": [
    ["es2015", {
      "loose": true,
      "modules": false
    }],
    "react",
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties", "react-hot-loader/babel"]
}
